/* MAIN PAGE CSS */
.book-main-page-container {
     position: relative;
     padding: 100px;
     text-align: center;
     background-color: #d1d1d1;
     min-height: 90vh;
     box-sizing: border-box;
}

.book-table-wrapper {
     padding: 20px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
     background-color: #ffffff;
     width: 90%;
     margin: 0 auto;
     animation: slideIn 0.5s ease-out;
}

/* BOOKS TABLE CSS */
.spinner-container {
     display: flex;
     justify-content: center;
     margin-top: 20px;
}

.book-container {
     padding: 20px;
     animation: fadeIn 1s ease-in-out;
}

.book-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
}

.book-util{
     display: flex;
     align-items: center;
}

.book-search-input {
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
     width: 250px;
     transition: border-color 0.3s ease;
}

.book-search-input:focus {
     border-color: #007bff;
     outline: none;
}

/* ADD / EDIT PAGE CSS */
.book-add-edit-container {
     position: relative;
     padding: 50px;
     text-align: center;
     background-color: #d1d1d1;
     min-height: 90vh;
     box-sizing: border-box;
}

/* BOOKS DETAILS VIEW */
.book-authorname-container{
     display: flex;
     flex-direction: row;
}

.book-title-container, .book-story-container, .book-conclusion-container {
     margin-top: 5px;
     padding: 10px;
}

@keyframes fadeIn {
     from {
          opacity: 0;
     }

     to {
          opacity: 1;
     }
}

@keyframes slideIn {
     from {
          transform: translateX(50px);
          opacity: 0;
     }

     to {
          transform: translateX(0);
          opacity: 1;
     }
}

@keyframes scaleUp {
     from {
          transform: scale(1.05);
     }

     to {
          transform: scale(1);
     }
}

@keyframes hoverEffect {
     from {
          background-color: #007bff;
     }

     to {
          background-color: #0056b3;
     }
}