/* MAIN PAGE CSS */
.author-main-page-container {
     position: relative;
     padding: 80px;
     text-align: center;
     background-color: darkgray;
     min-height: 90vh;
     box-sizing: border-box;
}

.author-table-wrapper {
     padding: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
     background-color: #ffffff;
     width: 100%;
     margin: 0 auto;
     animation: slideIn 0.5s ease-out;
}

/* AUTHOR TABLE CSS */
.spinner-container {
     display: flex;
     justify-content: center;
     margin-top: 20px;
}

.authors-table-container {
     padding: 20px;
     animation: fadeIn 1s ease-in-out;
}

.author-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
}

.author-util {
     display: flex;
     align-items: center;
}

.author-search-input {
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
     width: 250px;
     transition: border-color 0.3s ease;
}

.author-search-input:focus {
     border-color: #007bff;
     outline: none;
}

/* ADD / EDIT PAGE CSS */
.author-add-edit-container {
     position: relative;
     padding: 50px;
     text-align: center;
     background-color: #d1d1d1;
     min-height: 90vh;
     box-sizing: border-box;
}

@keyframes fadeIn {
     from {
          opacity: 0;
     }

     to {
          opacity: 1;
     }
}

@keyframes hoverEffect {
     from {
          background-color: #007bff;
     }

     to {
          background-color: #0056b3;
     }
}