/* MAIN PAGE CSS */
.penalties-main-page-container {
    position: relative;
    padding: 80px;
    text-align: center;
    background-color: darkgray;
    min-height: 90vh;
    box-sizing: border-box;
}

.penalties-table-wrapper {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    animation: slideIn 0.5s ease-out;
}

/* PENALTIES RECORD TABLE CSS */
.spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.penalties-container {
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

.penalties-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.penalties-util {
    display: flex;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}

@keyframes hoverEffect {
    from {
        background-color: #007bff;
    }

    to {
        background-color: #0056b3;
    }
}